body, html {
    font-family: 'Poppins', sans-serif;
    background-color: #32142D ;
    height: 100%;
    width:auto;
}
.mainnav li {
    background-color: none ;
    height: 70px;
    width: 150px;
    text-align: center;
    padding-top: 30px;
    margin-right: 65px;
    list-style: none;
    float: right;
    border-radius: 30px;
}
.mainnav li:hover {
    background-color: #1f084b;
}
a {
    text-decoration: none;
    color: white;
    font-size: large;
}
.logo {
    background-color: #32142D ;
    height: 70px;
    width: 350px;
    padding-top: 8px;
    text-align: center;
    float: left;
}
nav {
    background-color: #32142D;
}
#page-container {
    position: relative;
    min-height: 50vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem; 
  }
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;    
    color:white;
  }
.fa-brands {
    float: right;
    margin-left: 20px;
    margin-top: 5px;
}
iframe {
    position: none;
    top: 200px;
}

.IMGWAR {
    border-radius: 30px;
}

.Crew1 {
    border-radius: 400px;
    border: solid white;
    height: 100vh;
    display: block;  
    margin-left:auto; 
    margin-right: auto;
    padding: 5px;  
}
.video1 {
    float:right;
}

